* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
